/* global*/

@import url('https://fonts.googleapis.com/css2?family=Monserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Open+Sans:wght@400;500;800&display=swap');


body {

font-family: 'Montserrat', sans-serif;
overflow-x: hidden;
background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.navbar-brand img {

    display:inline;
    width: 100px;
    height: auto;
    margin-bottom: 10px;

}


#menu li a {

    font-size: 18px;
    font-weight: bold;
    color: white;
    

}

#menu form button {

    font-size: 18px;
    font-weight: bold;
    
}

/*index*/

.fuente {

font-family: Bungee Spice;
font-size: x-large;

}

.carousel-inner {

    max-height: 39rem;
}


/*media queries pantalla ancha*/

@media (max-width:1200px) {

    #local {

        flex-wrap: wrap;
        padding-top: 30px;

    }
    
    .wrapper {

        width: 90%;
        margin: auto;
        padding-top: 50px;

    }
}


/*media queries pantalla sm*/

@media (max-width:768px) {


    #intro, #equipo {

        width: 90% !important;

    }
    #equipo p {

        display: none;
    }

    .servicio-fila {

        width: 100% !important;
        text-align: center;

    }

    #bg-contacto {

        
        top: -110px;
    
    }

}


/*media queries pantalla extra-sm*/

@media (max-width: 576px) {

.imagen-wrap {

    flex-wrap: wrap;
    justify-content: center !important;
}

}

footer {

    background: #1b2a4e;
    min-height: 100px;
    margin-top: 5px;
}

footer p {

color: #f3f3f3;
text-align: center;


}

#iconos {

font-size: 26px;
padding: 0 8px;
color: #f3f3f3;

}

/*contacto*/

.mapa {


    margin-top: 10px;
    width: 50%;
    height: 400px;

}

#local {

    background: #F3F3F3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;

}

.wrapper {

width: 75%;
margin-left: 100px;
padding-top: 150px;


}

/*contacto bg*/

#bg-contacto {

    position: relative;
    top: -130px;

}

#seccion-contacto {


    background-color: whitesmoke;
    min-height: 500px;
    position: relative;

}

#contenedor-formulario {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;


}

#titulo-formulario {


    color: #3f3f3f;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(9, 74, 136);
}*/

.container-fluid {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

}

.card {
    position: relative;
    width: 450px;
    height: 500px;
    margin: 25px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}


/*repuestos*/

html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #efeaea;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
